* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* poppins google font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
body {
}
/* top banner section  */
.banner-container {
  width: 1321px;
  height: 646px;
  background: #161616;
  border-radius: 30px;
  margin-top: 50px;
}
.banner-section {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-heading {
  width: 531px;
  height: 424px;
  margin: 111px 24px 111px 106px;
}
.banner-title {
  font-size: 70px;
  line-height: 80px;
  color: #ffffff;
}
.banner-details {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.banner-img {
  width: 581px;
  height: 613px;
}
.banner-img img {
  width: 100%;
  /* margin-top: 33px; */
}
