* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* poppins google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  margin: 0 auto;
}
/* header section  */
.header {
  display: flex;
  width: 1321px;
  background-color: #161616;
  border-radius: 30px;
  margin-top: 50px;
}
.left-header {
  width: 50%;
}
.left-header-title {
  /* font-family: "Poppins", sans-serif; */
  font-size: 70px;
  color: #ffffff;
}
.left-header-details {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.right-header {
  width: 50%;
}
